* {
  text-align: center;
}

body html #root {
  height: 100%;
}

.daily-pump-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  color: red;
  font-family: "Anton", sans-serif;
  letter-spacing: 3px;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.top-header {
  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 999;
  top: 0;
  height: 10vh;
}

.todays-workout {
  position: relative;
  top: 10vh;
  padding: 25px 15px;
}

.body-part {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 25px;
}
